





/* media query start */

@media(max-width: 480px) {
    .home_banner {
        height: auto;
        width: auto;
    }

    .home_banner::after {
        background: none;
    }

    .banner_content {
        width: 100%;
    }

    .bc_body>.main_text {
        width: 80%;
        margin-top: 40px;
        color: black;
        font-size: 32px;
        font-weight: bold;
    }

    .bc_body>.para {
        font-size: 11px;
        color: black;
        margin-top: 13px;
    }

    #banner_button {
        font-size: 15px;
        /* padding: 12px 20px; */
    }

    .bc_footer {
        margin-top: 22px;
    }

    .banner_search_btn {
        color: black;
        font-size: 15px;
    }

    .banner_search_btn>i {
        display: none;
    }


}