* {
    margin: 0;
}


.header>p {
    color: #FBC04E;
    font-size: 18px;
}

.jomhuria-regular {
    font-family: "Jomhuria", serif;
}

.font_playFire {
    font-family: "Playfair Display", serif;
}

.font_cabin {
    font-family: "Cabin", serif;
}


.font_poppins {
    font-family: "Poppins", serif;
}

.common_btn {
    font-size: 16px;
    background-color: #FBC04E;
    border: none;
    padding: 12px 20px;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.common_btn:hover {
    background-color: #fdb627;
    color: white;
}



.flex {
    display: flex;
}

/* .justify_between{
    justify-content: space-between;
} */



/* ------------------------------------------------------------ css for after home offer section -------------------------------------------------------------*/

/* ============================================================= checkout section start ==================================================================== */
.checkout_heading {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.checkout_heading>h1 {
    font-size: 56px;
    font-weight: bold;
}

.checkout_heading>p {
    width: 30%;
    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
}



































@media(max-width: 376px) {
    .common_btn {
        font-size: 10px;
        padding: 6px 12px;
    }

    .header>p {
        display: none;
    }

    /* ============================================================= checkout section start ==================================================================== */
    .checkout_heading {
        padding: 40px 16px;
        gap: 16px;
    }

    .checkout_heading>h1 {
        font-size: 32px;
        text-align: center;
    }

    .checkout_heading>p {
        width: 100%;
        font-size: 14px;
    }
}